{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="dark-overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr class="w-75 mx-auto">
            <h1 class="display-4 text-center title">Edit your Review</h1>
            <hr class="w-75 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="mb-5">
                <h6 class="text-muted">To change your review, fill out the form below.</h6>
                <small class="text-muted"><i>* is a required field</i></small>
            </div>
            <form id="edit_review_form" action="{% url 'edit_review' review.id %}" method="POST" class="update-form">
                {% csrf_token %}
                {% for field in form %}
                {{ field | as_crispy_field }}
                {% endfor %}
                <div class="d-flex justify-content-end gap-4 mb-3">
                    <a href="{% url 'product_detail' review.product.id %}"
                        class="btn btn-outline-light rounded-0">Cancel
                    </a>
                    <button class="btn btn-light rounded-0" type="submit">Edit Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}