{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="mb-2">Shopping Bag</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-5">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table table-sm table-boardless">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Frame</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}

                    <tr>
                        <!--- Product Image --->
                        <td class="p-3 w-25">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image1 %}
                                <img class="w-100" src="{{ item.product.image1.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                            </a>
                        </td>
                        <!--- Product Name --->
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        </td>
                        <!--- Product Price --->
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                        <!--- Product Frame --->
                        <td class="py-3">
                            <p class="my-0">{% if item.product.framed %}{{ item.frame|upper }}{% else %}N/A{% endif %}
                            </p>
                        </td>
                        <!--- Product Quantity--->
                        <td class="py-3">
                            <!--- Plus Minus quantity buttons by Code Institute. Thanks --->
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.framed %}
                                        <input type="hidden" name="product_frame" value="{{ item.frame }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info float-left"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                data-product_frame="{{ item.frame }}"><small>Remove</small></a>
                        </td>
                        <!--- Product * Quantity = Subtotal --->
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>

                    {% endfor %}
                    <!--- Bag Grand Total --->
                    <tr>
                        <td colspan="7" class="pt-5 text-center">
                            <h5><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h5>
                            <p>Delivery: ${{ delivery|floatformat:2 }}</p>
                            <h3 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h3>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row text-center">
                <div class="col-6 col-md-3 offset-md-2 mb-5">
                    <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                        <i class="fas fa-long-arrow-alt-left"></i>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
                <div class="col-6 col-md-3 offset-md-2 mb-5">
                    <a href="{% url 'checkout' %}" class="btn btn-success rounded-1 btn-lg">
                        <i class="fas fa-lock"></i>
                        <span class="text-uppercase">Secure Checkout</span>
                    </a>
                </div>
            </div>
            {% else %}
            <h5 class="mb-5">Your shopping bag is empty!</h5>
            <a href="{% url 'products' %}" class="btn btn-outline-dark mt-3 empty-bag-css">
                <span class="icon">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span class="text-uppercase empty-bag-css">Back to the Shop</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var frame = $(this).data('product_frame');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_frame': frame
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock %}