{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="home-page-menu" class="container">
    <div id="color-overlay"></div>
    <div class="row justify-content-center align-content-center">
        <a href="" class="col-10 col-sm-6 home-page-button btn">GALLERY</a>
    </div>
    <div class="row justify-content-center align-content-center ">
        <a href="" class="col-10 col-sm-6 home-page-button btn">ART SERIES</a>
    </div>
    <div class="row justify-content-center align-content-center ">
        <a href="" class="col-10 col-sm-6 home-page-button btn">ARTIST INFO</a>
    </div>
    <div class="row justify-content-center align-content-center ">
        <a href="{% url 'products' %}" class="col-10 col-sm-6 home-page-button btn">SHOP</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="color-overlay"></div>
        </div>
    </div>
</div>





{% endblock %}