{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="home-page-menu" class="container">
    <div id="color-overlay"></div>
    <div class="row justify-content-center align-content-center">
        <button class="col-10 col-sm-6 home-page-button btn">GALLERY</button>
    </div>
    <div class="row justify-content-center align-content-center ">
        <button class="col-10 col-sm-6 home-page-button btn">ART SERIES</button>
    </div>
    <div class="row justify-content-center align-content-center ">
        <button class="col-10 col-sm-6 home-page-button btn">ARTIST INFO</button>
    </div>
    <div class="row justify-content-center align-content-center ">
        <button class="col-10 col-sm-6 home-page-button btn">SHOP</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="color-overlay"></div>
        </div>
    </div>
</div>





{% endblock %}