{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Checkout Success -->
<div class="container">
    <div class="row text-center">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thank You {{ order.full_name }}</h2>
            <hr>
            <p class="text-dark">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="p-2 border">
                <div class="row">
                    <div class="col mt-3">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark font-weight-bold">
                            {{ item.product.name }}{% if item.product_frame %} -
                            {{ item.product_frame | upper }} Frame {% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col mt-3">
                        <small class="text-muted">Delivering To:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-dark">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 font-weight-bold">{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h5 class="mb-0 text-dark font-weight-bold">Grand Total</h5>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <h4 class="mb-0"><strong>${{ order.grand_total }}</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Back to Profile page button -->
    <div class="row">
        <div class="col-6 offset-3 text-center mt-2 mb-5">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-outline-dark mb-1">
                <span class="icon">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span class="text-uppercase">My Profile</span>
            </a>
            {% else %}
            <!-- Back to Home page button -->
            <a href="{% url 'home' %}" class="btn btn-outline-dark mb-1">
                <span class="icon">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span class="text-uppercase">Home Page</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}