html {
    height: 100%;
}

body {
    height: calc(100vh);
    color: black;
    background: white;
    font-family: 'Playfair Display', sans-serif;
}

#topnav {
    height: 180px;
    /* IMG FROM WWW.TEAHUB.IO */
    background: url(/media/top-white-background.jpg);
    background-repeat: repeat;
    background-position: 98% 31%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.979);
}

.main-logo {
    height: 140px;
    width: 200px;
    border: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-shadow: rgba(245, 240, 240, 0.9) 0 0 75px;
    border-collapse: collapse;
}

#home-page-menu {
    height: 650px;
    position: relative;
    background: url(/media/home-page-menu-background.jpg) no-repeat center center;
    background-size: cover;
}

.home-page-button {
    height: 55px;
    width: 35vw;
    color: black;
    font-size: x-large;
    font-weight: bold;
    background-color: Transparent;
    border: 3px solid black;
    cursor: pointer;
    overflow: auto;
    margin-top: 5%;
}

.home-page-button:hover {
    background-color: white;
}

@media (max-width: 767px) {
    .home-page-button {
        margin-top: 10%;
    }
}

@media (min-width: 767px) {
    .home-page-button {
        margin-top: 5%;
    }
}

@media (min-width: 1500px) {
    .home-page-button {
        margin-top: 4%;
    }
}

@media (min-width: 2000px) {
    .home-page-button {
        margin-top: 3%;
    }
}

@media (min-width: 2800px) {
    .home-page-button {
        margin-top: 1%;
    }
}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background-color: white;
    opacity: 0.5;
}

#artist-image {
    min-height: 550px;
    background: url(/media/zuzu-valla-about.jpg);
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: contain;
}

.art-series-row {
    background: url(/media/art-series-background.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid rgba(0, 0, 0, .1);
}

.card-info {
    margin-bottom: 15px;
}

/*--- Info messages ---*/
.message-container {
    position: absolute;
    top: 120px;
    right: 28px;
    z-index: 10;
}

.toast-capper {
    height: 2px;
}

/*--- Shopping Bag ---*/
.shopping-bag-pop-out-window {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--- Shopping Bag - CSS from Boutique Ado ---*/
.update-link,
.remove-item {
    cursor: pointer;
}

/*--- products.html ---*/
.to-top-button {
    height: 75px;
    width: 75px;
    color: gray;
    font-size: xx-large;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

@media (max-width: 650px) {
    .to-top-button {
        position: fixed;
        bottom: 0px;
        right: 1px;
        padding-left: 40px;
    }
}

/*--- CSS by Code Institute from Boutique Ado project ---*/
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/*--- Slightly larger container on xl screens ---*/
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}