<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-block d-md-block d-lg-none">
        <li class="nav-item dropdown nav-link dropdown-menu border-0" href="#" id="all-menu-link" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <a href="" class="dropdown-item">1</a>
            <a href="" class="dropdown-item">2</a>
            <a href="" class="dropdown-item">3</a>
            <a href="" class="dropdown-item">4</a>
        </li>
    </ul>
</div>