<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-block d-md-block d-lg-none">
        <li class="nav-item dropdown">
            <a href="{% url 'home' %}" class=" dropdown-item">Home</a>
            <a href="#home-artist" class=" dropdown-item">About</a>
            <a href="#home-art-series" class="dropdown-item">Art Series</a>
            <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
            <a href="{% url 'products' %}" class="dropdown-item">Shop</a>
        </li>
    </ul>
</div>