{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Checkout Form by Code Institute -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center mt-3">
            <h2 class="mb-2">Product Management</h2>
            <hr class="w-50">
            <h5 class="text-muted mb-5">Edit a Product</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3 product-management-form p-3 mb-5">
            <div class="mt-5 mb-1">
                <h6 class="text-center">To Edit a product, fill out the form below.</h6>
                <small class="text-muted"><i>* is a required field</i></small>
            </div>
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-3"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <a href="{% url 'products' %}" class="btn btn-outline-dark">Cancel</a>
                    <button class="btn btn-success" type="submit">Save Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}