<!--- Inspired by B.A. Code Institute project --->
<!--- https://getbootstrap.com/docs/4.4/components/toasts/ --->

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>